@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(180deg, #f1d3de 0%, #f5e9c1 100%);
  background-attachment: fixed;
  overflow-y: scroll;
}

#inputs input:focus-visible,
#inputs input:focus,
#inputs textarea:focus-visible,
#inputs textarea:focus {
  outline: none;
  border-color: transparent;
  box-shadow: unset;
}

#inputs textarea,
#inputs input {
  border-width: 0px;
}

#withBorder input:focus-visible,
#withBorder input:focus {
  outline: transparent;
  border-color: #f1d7d7;
  box-shadow: unset;
}

#smileAnimation {
  background: linear-gradient(303deg, #f2d7db, #fdf0c7);
  background-size: 200% 200%;

  -webkit-animation: AnimationName 2s ease infinite;
  -moz-animation: AnimationName 2s ease infinite;
  animation: AnimationName 2s ease infinite;
}

@keyframes AnimationName {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}
